.custom-category-boxes:not(.above-discovery-categories-outlet) .category-box {
  max-height: 100px !important;
}

.custom-category-boxes:not(.above-discovery-categories-outlet)
  .category-box
  .category-box-inner
  .category-logo {
  align-self: self-start !important;
  background-color: transparent !important;
}

.discourse-kanban-container .discourse-kanban-list {
  width: 90% !important;
}

.category-heading {
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  row-gap: 0.75rem;
}

.category-logo.aspect-image {
  grid-column: 1;
  grid-row: 1;
  justify-self: center;
}

.category-heading > span {
  grid-column: 1;
  grid-row: 2;
  justify-self: center;
  text-align: center;
}

.category-heading > p {
  grid-column: 1;
  grid-row: 3;
  text-align: center;
}

html body #main-outlet {
  margin-top: 16px;
}
